<h1><strong>Books</strong></h1>
<div class="books_table"></div>
<h2><strong>New book</strong></h2>
<p>Title</p>
<input></input><br>
<p>Body</p>
<textarea></textarea><br>
<input type="submit" value="Create Book">
